$RECYCLE.BIN/
*.cab
*.class
*.ctxt
*.ear
*.hprof
*.jar
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.rar
*.stackdump
*.tar.gz
*.war
*.zip
*~
.Trash-*
.classpath
.directory
.fuse_hidden*
.jpb
.kotlin
.mtj.tmp/
.nfs*
.project
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
gradle-app.setting
hs_err_pid*
replay_pid*

# Gradle
.gradle
.gradletasknamecache
**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDEA
/.idea/
!/.idea/runConfigurations/
!/.idea/scopes/
!/.idea/icon.svg

# run-server
/baroness-auth-plugin/run
